aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
APScheduler==3.11.2
attrs==25.4.0
beautifulsoup4==4.14.3
bilibili-api-python==17.4.1
brotli==1.2.0
colorama==0.4.6
frozenlist==1.8.0
idna==3.11
lxml==6.0.2
multidict==6.7.0
pillow==12.1.0
propcache==0.4.1
pycryptodomex==3.23.0
PyJWT==2.10.1
PyYAML==6.0.3
qrcode==8.2
qrcode-terminal==0.8
soupsieve==2.8.1
typing_extensions==4.15.0
tzlocal==5.3.1
yarl==1.22.0
